<a href="https://colab.research.google.com/github/nitin-khandagale/machine_learning_practice/blob/master/indian_liver_patient.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split , cross_val_score

In [0]:
import sidetable

In [0]:
df = pd.read_csv('indian_liver_patient.csv')

In [132]:
df.head()

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65  Female              0.7  ...      3.3                        0.90        1
1   62    Male             10.9  ...      3.2                        0.74        1
2   62    Male              7.3  ...      3.3                        0.89        1
3   58    Male              1.0  ...      3.4                        1.00        1
4   72    Male              3.9  ...      2.4                        0.40        1

[5 rows x 11 columns]

In [133]:
df.stb.missing()

                            Missing  Total   Percent
Albumin_and_Globulin_Ratio        4    583  0.006861
Age                               0    583  0.000000
Gender                            0    583  0.000000
Total_Bilirubin                   0    583  0.000000
Direct_Bilirubin                  0    583  0.000000
Alkaline_Phosphotase              0    583  0.000000
Alamine_Aminotransferase          0    583  0.000000
Aspartate_Aminotransferase        0    583  0.000000
Total_Protiens                    0    583  0.000000
Albumin                           0    583  0.000000
Dataset                           0    583  0.000000

In [134]:
df.shape

(583, 11)

In [154]:
df['Albumin_and_Globulin_Ratio']

0      0.90
1      0.74
2      0.89
3      1.00
4      0.40
       ...
578    0.37
579    1.10
580    1.00
581    1.00
582    1.50
Name: Albumin_and_Globulin_Ratio, Length: 583, dtype: float64

In [0]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [0]:
df['Gender'] = le.fit_transform(df['Gender'])

In [138]:
df.head()

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65       0              0.7  ...      3.3                        0.90        1
1   62       1             10.9  ...      3.2                        0.74        1
2   62       1              7.3  ...      3.3                        0.89        1
3   58       1              1.0  ...      3.4                        1.00        1
4   72       1              3.9  ...      2.4                        0.40        1

[5 rows x 11 columns]

In [0]:
df = df.dropna()

In [119]:
df.stb.missing()

                            Missing  Total  Percent
Age                               0      0      NaN
Gender                            0      0      NaN
Total_Bilirubin                   0      0      NaN
Direct_Bilirubin                  0      0      NaN
Alkaline_Phosphotase              0      0      NaN
Alamine_Aminotransferase          0      0      NaN
Aspartate_Aminotransferase        0      0      NaN
Total_Protiens                    0      0      NaN
Albumin                           0      0      NaN
Albumin_and_Globulin_Ratio        0      0      NaN
Dataset                           0      0      NaN

In [0]:
x = df.drop('Dataset', axis='columns')
y = df['Dataset']

In [0]:
x_train , x_test , y_train , y_test = train_test_split(x,y,random_state=0)

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
my_model = LogisticRegression(solver='liblinear')

In [298]:
my_model.fit(x_train , y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [299]:
my_model.score(x_test, y_test)

0.7241379310344828